@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    var userIsSignedIn = SignInManager.IsSignedIn(User);
    var userName = User.Identity?.Name;
    var userIsAdmin = User.IsInRole("Admin");
}

<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="/Cart/GetUserCart">
            <span id="cartCount" class="badge text-bg-info">0</span>
            <i class="bi bi-cart text-white"></i>
        </a>
    </li>

    @if (userIsSignedIn)
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <span class="nav-user">
                    Hello <span id="username">@userName</span>!
                    @if (userIsAdmin)
                    {
                        <span>(Admin)</span>
                    }
                </span>
            </a>
        </li>
        <li class="nav-item">
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
